.form-consulta {
  padding: 1px 2vh 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom: 5vh;
  background: rgba(0, 0, 0, 0.322);
  border-radius: 1vh;
  text-shadow: 2px 2px 4px #00000098;
  box-shadow: 2px 2px 8px 10px rgba(0, 0, 0, 0.102);
}

.form-consulta textarea {
  margin-bottom: 1vh;
}

.form-consulta label {
  color: white!important;
}

.form-consulta p {
  color: rgb(29, 115, 214)!important;
  font-weight: bold;
}

.ant-col-14,
.ant-form-item-control,
.ant-form-item-label {
  max-width: 100%!important;

}

.container-inputs,
.ant-form-item-control {
  border-radius: 4px;
  margin-bottom: 0!important;
}

.form-consulta .ant-row {
  width: 100%!important;
  display: inline-block!important;
}

.container-inputs .input-consulta {
  margin-bottom: 1vh;
  border-radius: 4px;
}

.div-arq {
  display: inline-flex;
  justify-content: center;
}

.form-consulta .btn-cadastrar {
  border: 0;
  border-radius: 5px;
  box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.102);
  width: 100%;
  height: 48px;
  padding: 0 20pxs;
  font-size: 16px;
  cursor: pointer;
}