.form-instituicao {
  width: 100vh;
}

.container-corpo {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes-form .cadastrar,
.botoes-form .voltar {
  width: 98%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.botoes-form .voltar {
  margin-left: 5px;
  
  display: inline-block;
  text-align: center;
  border: 1px solid white;
}

.voltar:hover {
  background: rgba(0, 0, 0, 0.199);
  color: rgb(31, 184, 245);
  font-weight: bold;
}

.input-nome {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-color: darkblue;
}